.product-card {
    margin: 20px;
}
.product-card img {
    width: 100%;
    height: auto;
}
.product-card-body {
    padding: 10px;
}
.product-card-title {
    font-size: 1.5em;
}
.product-card-price {
    color: green;
    font-size: 1.2em;
}
.product-card-description {
    font-size: 0.9em;
    color: #555;
}
.product-card-quantity {
    font-size: 1em;
    color: #333;
}
